<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Inicio </ion-title>
  </ion-toolbar>
</ion-header>






<ion-content [fullscreen]="true">

  
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-content color="light">
        <ion-list [inset]="true">
          <ion-item>
            <ion-label>
              <ion-button expand="block" routerLink = ""> Iniciar Sesion </ion-button>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-content>
  </ion-menu>
  
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button name="apps-outline"></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <h1 id="welcome" class="titulo"> <strong>Bienvenido {{ nombre }}</strong></h1> 
      <div *ngFor="let user of users?.results">
        <h1>{{user?.username}}</h1>
        <ion-button type="submit" (click)="detalle(user)"> Ver </ion-button>
      </div>
      <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
    
        </ion-card-content>
      </ion-card>
    </ion-content>
  </div>



</ion-content>

<ion-footer>

  <ion-toolbar>
    <ion-title>
      <h6> © Derechos Reservados </h6>
    </ion-title>
  </ion-toolbar>

</ion-footer>

