




ion-list {
    display: flex;
    flex-direction: row;
    align-items: center; // Centra horizontalmente
    justify-content: center; // Centra verticalmente
    height: 100%; // Ajusta la altura al 100% del contenedor padre
    width: 500px;
    
  }
  
  ion-item {
    max-width: 300px; // Ancho máximo del ion-item
    width: 100%; // Ajusta el ancho según tus preferencias
    margin-bottom: 20px; // Espaciado entre ion-items
    flex-direction: row;
    
  }
  ion-card {
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    align-content: space-around;
    max-width: 600px; // Ajusta el ancho máximo según tus necesidades
    height: 300;
    margin: 0; // Centra horizontalmente
    color: black;
    flex-wrap: wrap;

    
  
    ion-card-header {
      ion-card-title, ion-card-subtitle {
        font-size: 14px; // Tamaño de fuente más pequeño
        margin: 0; // Elimina márgenes
        color: rgb(179, 176, 176);
      }
    }
  
    ion-card-content {
      img {
        max-width: 100%; // Ajusta el ancho de la imagen al 100%
        height: 300; // Mantén la proporción
        align-content: space-between;
        align-items: normal;
      }
    }
  }
  
  
  
  
  
  
    
  ion-input {
    
    --ion-label-floating: {
      font-size: 16px; // Tamaño de fuente de las etiquetas flotantes
      
    };
  }
  
  /* Media query para hacer el formulario responsive */
  @media (max-width: 480px) {
    ion-item {
      max-width: 90%; // Ajusta el ancho en pantallas pequeñas
    }
  }
  
  #welcome.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: ghostwhite;

  
}

ion-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  image-rendering: auto;
  margin: 0 auto; // Centra horizontalmente
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  color: ghostwhite;
  

}
titulo{

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

ion-padding{

  width: 500px;
  height: 200px;
  border: 1px solid #c3c3c3;
  display: -webkit-flex;
  -webkit-flex-direction: row-reverse;
  display: flex;
  flex-direction: row-reverse;

}



ion-content{

  ion-content {
    margin: 0;
    padding: 0;
    --background: url('https://images.unsplash.com/photo-1545179605-1296651e9d43') center center / cover no-repeat fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: normal;
    align-content: space-around;
    flex-wrap: wrap;
  
    &:before {
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: -1;
    }
  
    @media (max-width: 768px) {
      background-position: top;
    }
  }
}