<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Inicio Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-content">

  <h1 class="page-title">TeLlevoApp</h1>

  
  <ion-card class="login-card">
    <img alt="Silhouette of mountains" src="https://w7.pngwing.com/pngs/181/68/png-transparent-luxury-car-silhouette-thumbnail.png" />

    <ion-card-content>
      <ion-list>

        <form [formGroup]="loginForm" (ngSubmit)="login()" class = "login-form ">

          <ion-item style="background-color: black;">
            <ion-input formControlName="nombre" label="Nombre de usuario" labelPlacement="floating" placeholder="Ej. Fernado123"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input formControlName="password" type="password" required=true label="Contraseña" labelPlacement="floating" placeholder="···"></ion-input>
          </ion-item>

          <ion-button type="submit" [disabled]="!loginForm.valid" expand="block" id="present-alert">Iniciar Sesion</ion-button>
          <ion-button expand="block" routerLink="/rest">Restablecer Contraseña</ion-button>

          <ion-item>
            <p>No tiene cuenta?</p>
            <a routerLink="/registro">Registrarse</a>
          </ion-item>

        </form>

      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>
      <h6>© Derechos Reservados</h6>
    </ion-title>
  </ion-toolbar>
</ion-footer>
