<app-encabezado>
  
</app-encabezado>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>listado_usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">listado_usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-button expand="block"> Volver </ion-button>

  </ion-card>


</ion-content>
